<head>
    <meta charset="UTF-8">
    <title>List of Enrollment Form</title>
</head>

<style>
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

</style>
<body bgcolor= "lightblue">
<center><h1 style="color:blue; font-size:35px;">List of Enrolled Student</h1>
<br>

<center><div id="specialization">
  <h3 id="spez">Specialization</h3>
   <input type ="radio" id="ict" name="ict" value="ict"required>ICT
   <br>
   <input type ="radio" id="cooker" name="cooker" value="cook"required>Cookery
   <br>
   <input type ="radio" id="tech" name="tech" value="techdraft"required>TechDraft
   <br>
   <input type ="radio" id="elect" name="electrical" value="electrical"required>Electrical
  </div><br><br></center>


</div>
	{% endfor %}
</table>
</center>
</body>
</html>