<html>
	<head>
		<title> Form</title>
	</head>





<body bgcolor= "lightblue">
<!--BUTTONS-->
<link rel="stylesheet" href="static/admin/css/menu.css">
<div class="header"><br>
 <!--<img src="AG.png"-->
  <h1><center><strong>ENROLLMENT</strong><center/></h1>
</div>
</div>
<style="border:0px solid black">
   <ul class="menu">
       <li><a href="C:\Users\Home\Desktop\Webdev\Homepage.html"><i>&nbsp;&nbsp;HOME&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i></a>
        <ul class="submenu">
            <li><a href="\home\arlene\ArleneList\Eform\About.html"><i>&nbsp; About</i></a></li>
            <li><a href="\home\arlene\ArleneList\Eform\Services.html"><i>&nbsp;Services</i></a></li>
            <li><a href="\home\arlene\ArleneList\Eform\FAQs.html"><i>&nbsp; FAQs</i></a></li>
        </ul></li>


<hr>
<br>


<center>
			<form class="gedaria"action="#" method="post">
			{% csrf_token %}
				

<br>
				<b><label for="Name" id="glabel2">Name:   </label><b>
				<input bold type="text" id="name" name="name" placeholder= "(SN, FN, M)" required>	
<br>
<br>					
				<b><label for="Grade_Level" id="glabel1">Grade Level:</label><b>
				<input bold type="text" id="gradelevel" name="gradelevel" placeholder= "(7,8,9,10)" required>
<br>
<br>
				<b><label for="LRN" id="glabel3">LRN:</label><b>
				<input bold type="text" id="lrn" name="lrn" placeholder= "Learner Reference Number" required>
<br>
<br>
				<label for="Birthday" id="glabel4">Birthday:</label>
				<input bold type="text" id="birthday" name="birthday" placeholder= "(M/D/Y)" required>
<br>
<br>
				<label for="Address" id="glabel5">Address:</label required>
				<input bold type="text" id="address" name="address" placeholder="Address"></left><br><br><br>
				<input type="submit" name="enroll" onclick="myFunction()" value="Enroll"style="color:red;">
</iframe>
<!-- <script>function myFunction() {alert("Enrolled Successfully!");}

</script> -->

<center>
<table id="idListTable">
</form>
</center>
</body>
</html>
