<html>
	<head>
		<title>Submission of Requirement</title>
	</head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="external.css">
<link rel="stylesheet" href="Schools.css">

		<body bgcolor= "lightblue">
			<h1 style="color:blue; font-size:35px;"> <center>Submission of Requirement</center> </h1>

			<form class="gedaria"action="#" method="post">
			{% csrf_token %}
<br>
<hr>
<br>
<br>

<h3>Arlene Gedaria</h3>
<form action="/action_page.php">
  <h3><b> Report Card </b> </h3>
  <label for="myfile">Select a file:</label>
  <input type="file" id="myfile" name="myfile"><br><br>
</form>

<h3>NSO/PSA</h3>
<form action="/action_page.php">
  <label for="myfile">Select files:</label>
  <input type="file" id="myfile" name="myfile" multiple><br><br><br>
  <input type="submit">
</form>
<!-- <script>function myFunction() {alert("Enrolled Successfully!");}




</form>

</body>
</html>
