<head>
    <meta charset="UTF-8">
    <title>List of Enrollment Form</title>
</head>

<style>
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

</style>
<body bgcolor= "lightblue">
<center><h1 style="color:blue; font-size:35px;">List of Enrolled Student</h1>
<br>
<table style="width: 80%">

  		<tr class="w3-red">
 		    <th>{{ forloop.counter }}</th>		
		    <th>Gradelevel</th>
		    <th>Name</th>
		    <th>LRN</th>
		    <th>Birthday</th>
		    <th>Address</th>
		    <th>Requirement</th>
  		</tr>
<div class="abg">
	{% for abg in abg %}
		<div class="abg">
  		<tr>
			<td><center>{{ forloop.counter }}</center></td>
			<td>{{ abg.gradelevel }}</td>
		    <td><center>{{ abg.name }}</center></td>
		    <td><center>{{ abg.lrn }}</center></td>
		    <td><center>{{ abg.birthday }}</center></td>
		    <td><center>{{ abg.address }}</center></td>
			<td><center><a href="home/arlene/ArleneList/Eform/templates/requirement.html" target="_blank">Submit Now</a></td>		 

  		</tr>

</div>
	{% endfor %}
</table>
</center>
</body>
</html>