<html>
	<head>
		<title>Submission of Requirement</title>
	</head>
		<body bgcolor= "lightblue">
			<h1 style="color:blue; font-size:35px;"> <center>Submission of Requirement</center> </h1>


			<form class="gedaria"action="#" method="post">
			{% csrf_token %}
<br>
<hr>
<br>
<br>

<center><div id="cshifts">
  <h3 id="shift">Class Shifts</h3>
   <input type ="radio" id="am" name="am" value="First"required>First Shift (AM)
   <br>
   <p> Time: 6am-12pm </p> 
   <br>
   <input type ="radio" id="pm" name="pm" value="Second"required>Second Shift (PM)
   <p> Time: 1pm-6pm </p> 
  </div><br><br>
    <button><a href="schedule.html">Decided</a></button>
</center>
<!-- <script>function myFunction() {alert("Enrolled Successfully!");}

</script> -->


</form>

</body>
</html>
