<head>
    <meta charset="UTF-8">
    <title>List of Enrollment Form</title>

<link rel="stylesheet" href="static/admin/css/menu.css">
<link rel="stylesheet" href="static/admin/templates/requirement.html">
</head>
<style>
table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

.button {
  background-color: white;
  border: none;
  color: white;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2px;
  margin: 1px 2px;
  cursor: pointer;
}
</style>
</head>


<body bgcolor= "lightblue">
<!--BUTTONS-->
 <!--<img src="AG.png"-->
  <h1><center><strong>LIST OF ENROLLED STUDENT</strong><center/></h1>
</div>
</div>
<style="border:0px solid black">
   <ul class="menu">
       <li><a href="C:\Users\Home\Desktop\Webdev\Homepage.html"><i> &nbsp; &nbsp;HOME&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i></a>
        <ul class="submenu">
            <li><a href="\home\arlene\ArleneList\Eform\About.html"><i>&nbsp; About</i></a></li>
            <li><a href="\home\arlene\ArleneList\Eform\Services.html"><i>&nbsp;Services</i></a></li>
            <li><a href="\home\arlene\ArleneList\Eform\FAQs.html"><i>&nbsp; FAQs</i></a></li>
        </ul></li>

<hr>
<br>
<br>
<br>

<center>

<table style="width: 70%">

  		<tr>
 		    <th>{{ forloop.counter }}</th>		
		    <th>Gradelevel</th>
		    <th>Name</th>
		    <th>LRN</th>
		    <th>Birthday</th>
		    <th>Address</th>
		    <th>Requirement</th>
  		</tr>
<div class="abg">
	{% for abg in abg %}
		<div class="abg">
  		<tr>
			<td><center>{{ forloop.counter }}</center></td>
			<td>{{ abg.gradelevel }}</td>
		    <td><center>{{ abg.name }}</center></td>
		    <td><center>{{ abg.lrn }}</center></td>
		    <td><center>{{ abg.birthday }}</center></td>
		    <td><center>{{ abg.address }}</center></td>
            <td><center><button><a style="color:red;" href="static/admin/templates/requirement.html">Attach Now</a></button></center></td>
  		</tr>

</div>
	{% endfor %}
</table>
</center>
</body>
</html>